
<div class="footer" style="text-align:left;font-size:10px">
   {{company_name}}  - {{company_address}}<br>
    {{forme_juridique_capital_social}} <br>                                                 
    {{siret_rcs}}   <br>    
</div>