<html>
        <meta charset="utf-8">
    <body>
        <div style="height:400px;font-size:10px">
            WEB START - 6 RUE DE CALAIS 75009 PARIS<br>
            Société à responsabilité limitée au capital de 1 500 €<br>                                                 
            SIRET : 888707692– RCS PARIS   <br>    
</div>
    </body>
</html>