
<div class="footer" style="text-align:left;font-size:10px">
    WEB START - 22 Av Jean De Lattre de Tassigny 06400 Cannes<br>
    Société à responsabilité limitée au capital de 1500 €<br>                                                 
    SIRET : 888707692– RCS Cannes   <br>    
</div>