<!DOCTYPE html>
<html>
    <body>
        <div style="border:1px solid black">
            <img src="https://formationws.fr/build/logo_tout_blanc.6599b3a8.png" style="margin-left:350px; margin-top:20px; margin-bottom:20px" width="auto" height="40px" title="Web Start" alt="Web Start">
        </div>
    </body>
</html>