<!DOCTYPE html>
<html>
    <body>
        <div>
            <img src="https://formationws.fr/build/logo_tout_blanc.6599b3a8.png" style="margin-left:350px; margin-top:10px; margin-bottom:10px" width="auto" height="40px" title="Web Start" alt="Web Start">
        </div>
    </body>
</html>