<!DOCTYPE html>

    <div class="header">
        <img src="https://gabrielrh.com/build/logo.png" style="position:relative;top:-30px" height="40px" title="{{company_name}}" alt="{{company_name}}">
    </div>
