{% extends 'base.html.twig' %}

{% block title %}Hello ProfessionalProcessController!{% endblock %}

{% block body %}

    <section class="bg-secondary-dark justify-content-center align-items-center flex-column categories relative pb-5">


        <div class="text-with-gradient text-center py-5 relative">
            &lt; COLLABORONS ENSEMBLE /&gt; 
        </div>
        
        <h2 class="text-center text-light"> LES AVANTAGES POUR UN FORMATEUR </h2>


        <div class="row mx-auto col-md-10 p-3">

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="advantages card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="advantages card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="advantages card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>
            
            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="advantages card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>


            {#  #}

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="advantages card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="advantages card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="advantages card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>
            
            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="advantages card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

        </div>

    </section>


{% endblock %}
