{% extends 'base.html.twig' %}

{% block meta_description %} Développez votre e-learning avec la Formation WS. {% endblock %}
{% block title %} Développez votre e-learning {{parent()}} {% endblock %}

{% block body %}

    <div class="col-md-12 mx-auto row py-5" style="background:linear-gradient(0deg,#31092a,#0e0331)">

        <div class="col-md-12">
            <h1 class="text-center text-white"> DÉVELOPPEZ VOS FORMATS E-LEARNING ET BLENDED </h1>
            <h2 class="text-center text-primary fw400"> Renforcez l'intervention des formateurs avec nos vidéos  </h2>
        </div>

        <div class="col-md-12">
            <p class="text-center text-white"> EN MARQUE BLANCHE <span class="text-primary">//</span> SUR MESURE <span class="text-primary">//</span> SOUS LICENSE <span class="text-primary">//</span> OU SOUS ABONNEMENT</p>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            <a aria-label="Nos vidéos sur l'Academie WS - Formation WS" class="text-light smallBorderRadius colorWhite btn btn-secondary pull-right border-radius-btn mt-5 fw600 d-flex align-items-center" href="https://www.academiews.fr/categories"><i class="far fa-play-circle me-2"></i>ACCÉDER À NOS FORMATIONS VIDÉO</a>
        </div>

    </div>

    <div class="col-md-10 mx-auto row py-5" id="e-learning">
        <div class="col-12 col-md-6">

            <h2 class="mb-5"> Développez vos formats e-learning et blended avec notre partenaire l'Académie WS !</h2>

            <p>C'est parce que nous connaissons parfaitement les différents types de formation, reconversions professionnelles, <span class="text-primary fw-bold"> POEC</span>, <span class="text-primary fw-bold">POEI</span>, <span class="text-primary fw-bold">PRF</span>, <span class="text-primary fw-bold">titres RNCP</span> ou encore <span class="text-primary fw-bold">alternances</span> que nous savons que les besoins ne sont pas les mêmes suivant vos apprenants. C'est pourquoi avec <a aria-label="Nos vidéos sur l'Academie WS - Formation WS" class="text-primary fw-bold" href="https://www.academiews.fr/categories">l'Académie WS</a>, nous prenons soin de produire des vidéos pour un public différent pour coller au mieux à vos formats e-learning.</p>

            <p> Notre objectif avec <a aria-label="Nos vidéos sur l'Academie WS - Formation WS" class="text-primary fw-bold" href="https://www.academiews.fr/categories">l'Académie WS</a> n'est pas de vendre des vidéos en masse mais plutôt comprendre vos programmes et votre pédagogie pour vous livrez des vidéos qui collent parfaitement à votre enseignement . C'est pourquoi nous prenons le temps de vous connaitre pour développer une relation de confiance pour mettre en place un réel partenariat .</p>

            <p>Nous sommes constamment en contact de vos apprenants c'est pourquoi nous connaissons parfaitement les besoins de chaque profil. Du débutant à l'intermédiaire , tout ce dont ils auront besoin d'apprendre pour maitriser une technologie sera expliquée dans nos vidéos.</p>

            <p>La qualité n'est pas pour nous un argument car cela va de soit, les vidéos doivent être qualitatives, mais alors quelle est la plus value de nos vidéos par rapport à ce qui se fait actuellement sur le marché ? Découvrez sans plus attendre nos <a aria-label="Nos vidéos sur l'Academie WS - Formation WS" class="text-primary fw-bold" href="https://www.academiews.fr/categories">modules vidéo </a>.</p>

        </div>

        <div class="col-12 col-md-6 row justify-content-end my-5 my-md-0">
            <div class="icon-box col-md-10 bg-grey-light py-4 px-3 d-flex flex-column justify-content-between form-shadow smallBorderRadius">

                <ul class="d-flex h-100 flex-column justify-content-between">
                    <li class="d-flex align-items-center text-dark my-2 my-md-0"> <i class="fa-solid fa-ruler"></i></i> DES VIDÉOS SUR MESURE </li>
                    <li class="d-flex align-items-center text-dark my-2 my-md-0"> <i class="fa-solid fa-user-tie"></i> FAITES PAR NOS FORMATEURS </li>
                    <li class="d-flex align-items-center text-dark my-2 my-md-0"> <i class="fa-solid fa-building"></i> DES VIDÉOS EN MARQUE BLANCHE </li>
                    <li class="d-flex align-items-center text-dark my-2 my-md-0"> <i class="fa-solid fa-scissors"></i> SELECTION PERSONNALISÉE </li>
                    <li class="d-flex align-items-center text-dark my-2 my-md-0"> <i class="fa-solid fa-wrench"></i> MISE À JOUR CHAQUE ANNÉE </li>
                    <li class="d-flex align-items-center text-dark my-2 my-md-0"> <i class="fa-solid fa-handshake"></i> MISE EN PLACE DE TUTEURS </li>
                </ul>

            </div>
        </div>

        <div class="d-flex">
            <a aria-label="Nos vidéos sur l'Academie WS - Formation WS" class="text-light smallBorderRadius btn btn-secondary mt-5 d-flex align-items-center" href="https://www.academiews.fr/categories"><i class="far fa-play-circle me-2"></i>ACCÉDER À NOS FORMATIONS VIDÉO</a>                
        </div>
    </div>

    <div class="row main-contact-bar m-0 p-0">

        <div class="bg-secondary-dark col-md-6 align-items-center first-part justify-content-center d-none d-md-flex">
				<h3 class="text-with-gradient">Pourquoi choisir nos vidéos ?</h3>
        </div>


        <div class="col-12 col-md-6 p-0 relative second-part d-flex">
            <div class="bg-secondary-dark triangle-left"></div>

            <div class="contact-bar d-flex justify-content-center">
                <div class="contact">
                    <h3 class="d-flex d-md-none text-with-gradient">Vous êtes un professionnel ?</h3>
                    <a aria-label="Accéder à notre offre professionnelle sur l'Académie WS - Formation WS" href="https://www.academiews.fr/categories" class="font-weight-bold btn btn-outline-info text-white">DÉCOUVREZ L'ACADÉMIE WS</a>
                </div>
            </div>
        </div>

    </div>

    <div id="row exemple-realisations">

        <div class="container-fluid px-0">
            <div class="container mt-5">
                <h2 class="mb-5 pb-4"><span class="text-danger">Nos</span> dernières productions</h2>
            </div>

            <div class="row mx-auto px-0 py-5 py-md-0">

                <div class="row col-md-10 mx-auto">
                    <div class="d-flex flex-column col-12 col-md-6 align-items-end justify-content-center realisation-presentation mb-3 mb-md-0">
                        <div class="text-primary">MOTION DESIGN</div>
                        <h3>L'histoire des langages informatiques</h3>
                        <p class="font-weight-bold colorGrey"> DÉVELOPPER VOTRE CULTURE DIGITALE DU WEB </p>
                        <a aria-label="Accéder à nos cours sur l'Académie WS - Formation WS" class="font-weight-bold btn btn-outline-info text-info" href="https://academiews.fr" role="button">NOS FORMATIONS VIDÉO</a>
                    </div>

                    <div class="col-12 col-md-6 layout-iframe">
                        <iframe src="https://player.vimeo.com/video/796631243?h=92f039be20" width="100%" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>
                </div>
            </div>

            <div class="row mx-auto bg-grey-light form-shadow px-0 py-5 py-md-0">

                <div class="row col-md-10 mx-auto">

                    <div class="col-12 col-md-6 layout-iframe">
                        <iframe src="https://player.vimeo.com/video/759448943?h=f9670448a8" width="100%" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>

                    <div class="d-flex flex-column col-12 col-md-6 align-items-start justify-content-center realisation-presentation mb-3 mb-md-0">
                        <div class="text-primary">FORMATION VIDÉO</div>
                        <h3>La synthaxe JSX en React JS</h3>
                        <p class="font-weight-bold colorGrey"> DÉVELOPPER UNE APPLICATION WEB MONOPAGE AVEC REACT JS </p>
                        <a aria-label="Accéder à nos cours sur l'Académie WS - Formation WS" class="font-weight-bold btn btn-outline-info text-info" href="https://academiews.fr" role="button">NOS FORMATIONS VIDÉO</a>
                    </div>
                </div>

            </div>

                <section class="section bg-secondary-dark text-center py-5">
                    <div class="container">
                        <div class="row text-center">
                            <div class="col-md-6 col-lg-3">
                                <div class="row ">
                                    <div class="col-5 text-right text-light border-right py-3">
                                        <div class="m-auto"><i class="fa-solid fa-chalkboard-user icon-xl"></i></div>
                                    </div>
                                    <div class="col-7 text-left py-3">
                                        <h1 class="text-danger font-weight-bold font40">Tutoriels</h1>
                                        <p class="text-light mb-1">vidéo</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="row">
                                    <div class="col-5 text-right text-light border-right py-3">
                                        <div class="m-auto"><i class="fa-solid fa-person-chalkboard icon-xl"></i></div>
                                    </div>
                                    <div class="col-7 text-left py-3">
                                        <h1 class="text-danger font-weight-bold font40">Théorie</h1>
                                        <p class="text-light mb-1">en vidéo</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="row">
                                    <div class="col-5 text-right text-light border-right py-3">
                                        <div class="m-auto"><i class="fa-solid fa-dumbbell icon-xl"></i></div>
                                    </div>
                                    <div class="col-7 text-left py-3">
                                        <h1 class="text-danger font-weight-bold font40">Exercice</h1>
                                        <p class="text-light mb-1">corrigé en vidéo</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3">
                                <div class="row">
                                    <div class="col-5 text-right text-light border-right py-3">
                                        <div class="m-auto"><i class="fa-solid fa-briefcase icon-xl"></i></div>
                                    </div>
                                    <div class="col-7 text-left py-3">
                                        <h1 class="text-danger font-weight-bold font40">TP</h1>
                                        <p class="text-light mb-1">en vidéo</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            <div class="row mx-auto px-0 py-5 py-md-0">

                <div class="row col-md-10 mx-auto">

                    <div class="d-flex flex-column col-12 col-md-6 align-items-end justify-content-center realisation-presentation mb-3 mb-md-0">
                        <div class="text-primary">FOND VERT</div>
                        <h3>Comment rédiger sur le web?</h3>
                        <p class="font-weight-bold colorGrey"> DÉVELOPPER VOS COMPÉTENCES EN COMMUNITY MANAGEMENT </p>
                        <a aria-label="Accéder à nos cours sur l'Académie WS -Formation WS" class="font-weight-bold btn btn-outline-info text-info" href="https://academiews.fr" role="button">NOS FORMATIONS VIDÉO</a>
                    </div>

                    <div class="col-12 col-md-6 layout-iframe">
                        <iframe src="https://player.vimeo.com/video/796618355?h=270dc90631" width="100%" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe> 
                    </div>

                </div>

            </div>

            <div class="row mx-auto bg-grey-light form-shadow px-0 py-5 py-md-0">

                <div class="row col-md-10 mx-auto">

                    <div class="col-12 col-md-6 layout-iframe">
                        <iframe src="https://player.vimeo.com/video/796617154?h=1b732e0cfd" width="100%" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>

                    <div class="d-flex flex-column col-12 col-md-6 align-items-start justify-content-center realisation-presentation mb-3 mb-md-0">
                        <div class="text-primary">FILM PROMOTIONNEL</div>
                        <h3>Le rallye des Gazelles</h3>
                        <p class="font-weight-bold colorGrey"> DÉCOUVREZ LA VIDÉO PROMOTIONNELLE DU RALLYE DES GAZELLES </p>
                        <a aria-label="Accéder à notre studio de production sur l'Académie WS - Formation WS" class="font-weight-bold btn btn-outline-info text-info" href="https://academiews.fr" role="button">NOTRE STUDIO DE PRODUCTION</a>
                    </div>
                </div>

            </div>

            <div class="row mx-auto px-0 py-5 py-md-0">

                <div class="row col-md-10 mx-auto">

                    <div class="d-flex flex-column col-12 col-md-6 align-items-end justify-content-center realisation-presentation mb-3 mb-md-0">
                        <div class="text-primary">FILM INSTITUTIONNEL</div>
                        <h3>Les conséquences du Covid 19 sur notre économie</h3>
                        <p class="font-weight-bold colorGrey"> DÉCOUVREZ LES CONSÉQUENCES DU COVID 19 SUR NOTRE ÉCONOMIE </p>
                        <a aria-label="Accéder à notre studio de production sur l'Académie WS - Formation WS" class="font-weight-bold btn btn-outline-info text-info" href="https://academiews.fr" role="button">NOTRE STUDIO DE PRODUCTION</a>
                    </div>

                    <div class="col-12 col-md-6 layout-iframe">
                        <iframe src="https://player.vimeo.com/video/796617387?h=d0e9aeac8a" width="100%" height="564" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                    </div>

                </div>

            </div>


        </div>
    </div>

    <section class="section bg-secondary-dark text-center py-5">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-video icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">+30</h1>
                            <p class="text-light mb-1">Modules disponibles</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-regular fa-clock icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">+1000</h1>
                            <p class="text-light mb-1">Heures de vidéo</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-fingerprint icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">+8</h1>
                            <p class="text-light mb-1">ans d'expérience</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-graduation-cap icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h1 class="text-danger font-weight-bold font40">+10k</h1>
                            <p class="text-light mb-1">Etudiants satisfaits</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section py-5">

        <div class="container-fluid px-0">
            <div class="container">
                <h2 class="mb-5 pb-4"><span class="text-danger">Nos</span> dernières vidéos YouTube</h2>
            </div>
            <div class="container mx-auto row videos">
                <div class="col-md-4 col-sm-6 mb-5">
                    <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='0' frameborder="0" allowfullscreen></iframe>
                </div>
                                                            
                <div class="col-md-4 col-sm-6 mb-5">
                    <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='1' frameborder="0" allowfullscreen></iframe>
                </div>
                                                            
                <div class="col-md-4 col-sm-6 mb-5">
                    <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='2' frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="col-md-4 col-sm-6 mb-5">
                    <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='3' frameborder="0" allowfullscreen></iframe>
                </div>
                                                            
                <div class="col-md-4 col-sm-6 mb-5">
                    <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='4' frameborder="0" allowfullscreen></iframe>
                </div>
                                                            
                <div class="col-md-4 col-sm-6 mb-5">
                    <iframe class="latestVideoEmbed" style="height:230px;width:100%" vnum='5' frameborder="0" allowfullscreen></iframe>
                </div>

                <div class="d-flex justify-content-center">
                <a aria-label="Retrouvez nos vidéos de l'Académie WS sur Youtube - Formation WS" class="text-light smallBorderRadius btn btn-secondary mt-5 d-flex align-items-center" href="https://youtube.com/@academiews?si=u9QoCL-KzRzkf2c2"><i class="far fa-play-circle me-2"></i>Accéder à notre chaine Youtube</a>                
            </div>
            </div>


        </div>



    </section>

{% endblock %}
