{% extends 'base.html.twig' %}

{% block title %}Hello WhoWeAreController!{% endblock %}

{% block body %}
  <div>Qui sommes-nous ?</div>
    
    <div>
        <div>{# video #}</div>

        <div>{#text#}</div>
        <div>{#text#}</div>
        <div>{#text#}</div>

    </div>

    <div>Vous aimez les annecdotes?</div>
{% endblock %}
