{% extends 'base.html.twig' %}

{% block stylesheets %} 
    <meta name="description" content="{# description du site#}">
    {{parent()}}
{% endblock %}

{% block title %}Qui sommes-nous?{% endblock %}

{% block body %}
    <div>Qui sommes-nous ?</div>
    
    <div>
        <div>{# video #}</div>

        <div>{#text#}</div>
        <div>{#text#}</div>
        <div>{#text#}</div>

    </div>

    <div>Vous aimez les annecdotes?</div>
{% endblock %}
