<html>
    <head>
        <title>  </title>
    <head>
    <body>
        <h1>Bonjour {{firstName}},</h1>

        <br>

        <p>Merci pour votre message : </p>

        <br>

        <p>{{message}}<P>

        <p> Notre équipe vous répondra sous 48h00 </p>

        {# ... #}
    </body>
</html>


