{% extends 'base.html.twig' %}

{% block title %}Nos activités{% endblock %}

{% block stylesheets %}
<meta name="description" content="{#text#}">
{{ parent() }}
{% endblock %}

{% block body %}
<div>
    <a aria-label="" href="" class="">
        <div>Video de formation</div>
    </a>
</div>
<div>
    <a aria-label="" href="" class="">
        <div>Contenue e-learning</div>
    </a>
</div>
<div>
    <a aria-label="" href="" class="">
        <div>Ingénieurie pédagogique</div>
    </a>
</div>
<div>
    <a aria-label="" href="" class="">
        <div>Placement formateur</div>
    </a>
</div>
<div>
    <a aria-label="" href="" class="">
        <div>Production audiovisuelle</div>
    </a>
</div>
<div>
    <a aria-label="" href="" class="">
        <div>studio de production</div>
    </a>
</div>
<div>
    <a aria-label="" href="" class="">
        <div>Développement web</div>
    </a>
</div>
<div>
    <a aria-label="" href="" class="">
        <div>Rédaction web</div>
    </a>
</div>

<div>
    <a aria-label="" href="/contact" class="">CONTACTEZ-NOUS</a>
    <a aria-label="" download="" href="" class="">PLAQUETTE COMMERCIALE</a>
    <a aria-label="" download="" href="" class="">NOTRE CATALOGUE</a>
</div>

{% endblock %}
