{% extends 'base.html.twig' %}

{% block meta_description %} Retrouvez la politique de cookie de {{company_name}}. {% endblock %}
{% block title %}Notre politique de cookies {{parent()}} {% endblock %}

{% block body %}

<div class="row mx-auto justify-content-center">
    <div class="col-md-6 py-5" id="cookies">

        <h1> Politique de confidentialité </h1>

        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">
                <h5> Définitions </h5>

                <p class="text-justify"> <b> L'Éditeur </b> : La personne, physique ou morale, qui édite les services de communication au public
                en ligne.<br/>
                <b>Le Site</b> : L'ensemble des sites, pages Internet et services en ligne proposés par l'Éditeur.<br/>
                <b>L'Utilisateur</b> : La personne utilisant le Site et les services.</p>
            </div>
        </div>
        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">
                <h5> 1- Nature des données collectées</h5>

                <p class="font-weight-bold text-justify"> Dans le cadre de l'utilisation des Sites, l'Éditeur est susceptible de collecter les catégories
                de données suivantes concernant ses Utilisateurs :</p>
                <p>Données d'état-civil, d'identité, d'identification...<br/>
                Données relatives à la vie professionnelle (CV, scolarité, formation professionnelle,
                distinctions...)<br/>
                Données de connexion (adresses IP, journaux d'événements...)</p>
            </div>
        </div>

        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">
                <h5>2- Communication des données personnelles à des tiers</h5>

                <p class="font-weight-bold"> Pas de communication à des tiers</p>
                <p class="text-justify"> Vos données ne font l'objet d'aucune communication à des tiers. Vous êtes toutefois informés
                qu'elles pourront être divulguées en application d'une loi, d'un règlement ou en vertu d'une
                décision d'une autorité règlementaire ou judiciaire compétente.</p>
            </div>
        </div>


        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">

                <h5>3- Information préalable pour la communication des données personnelles à des tiers en cas de fusion /
                absorption</h5>

                <p class="font-weight-bold"> Collecte de l’opt-in (consentement) préalable à la transmission des données suite à une
                fusion / acquisition</p>
                <p class="text-justify">Dans le cas où nous prendrions part à une opération de fusion, d’acquisition ou à toute autre
                forme de cession d’actifs, nous nous engageons à obtenir votre consentement préalable à la
                transmission de vos données personnelles et à maintenir le niveau de confidentialité de vos
                données personnelles auquel vous avez consenti.</p>

            </div>
        </div>

        
        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">

                <h5> 4- Agrégation des données</h5>

                <p class="font-weight-bold"> Agrégation avec des données non personnelles</p>
                <p class="text-justify"> Nous pouvons publier, divulguer et utiliser les informations agrégées (informations relatives à
                tous nos Utilisateurs ou à des groupes ou catégories spécifiques d'Utilisateurs que nous
                combinons de manière à ce qu'un Utilisateur individuel ne puisse plus être identifié ou
                mentionné) et les informations non personnelles à des fins d'analyse du secteur et du marché,
                de profilage démographique, à des fins promotionnelles et publicitaires et à d'autres fins
                commerciales.</p>

                <p class="font-weight-bold"> Agrégation avec des données personnelles disponibles sur les comptes sociaux de
                l'Utilisateur</p>
                <p class="text-justify"> Si vous connectez votre compte à un compte d’un autre service afin de faire des envois croisés,
                ledit service pourra nous communiquer vos informations de profil, de connexion, ainsi que toute
                autre information dont vous avez autorisé la divulgation. Nous pouvons agréger les informations
                relatives à tous nos autres Utilisateurs, groupes, comptes, aux données personnelles disponibles
                sur l’Utilisateur.</p>

            </div>
        </div>

        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">

                <h5> 5- Collecte des données d'identité </h5>
                <p class="font-weight-bold"> Consultation libre </p>
                <p class="text-justify"> La consultation du Site ne nécessite pas d'inscription ni d'identification préalable. Elle peut
                s'effectuer sans que vous ne communiquiez de données nominatives vous concernant (nom,
                prénom, adresse, etc). Nous ne procédons à aucun enregistrement de données nominatives
                pour la simple consultation du Site.</p>

            </div>
        </div>

        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">
            
            <h5> 6- Collecte des données d'identification</h5>
            <p class="font-weight-bold"> Utilisation de l'identifiant de l'utilisateur pour proposition de mise en relation et offres
            commerciales </p>
            <p class="text-justify"> Nous utilisons vos identifiants électroniques pour rechercher des relations présentes par
            connexion, par adresse mail ou par services. Nous pouvons utiliser vos informations de contact
            pour permettre à d'autres personnes de trouver votre compte, notamment via des services tiers
            et des applications clientes. Vous pouvez télécharger votre carnet d'adresses afin que nous
            soyons en mesure de vous aider à trouver des connaissances sur notre réseau ou pour
            permettre à d'autres Utilisateurs de notre réseau de vous trouver. Nous pouvons vous proposer
            des suggestions, à vous et à d'autres Utilisateurs du réseau, à partir des contacts importés de
            votre carnet d’adresses. Nous sommes susceptibles de travailler en partenariat avec des
            sociétés qui proposent des offres incitatives. Pour prendre en charge ce type de promotion et
            d'offre incitative, nous sommes susceptibles de partager votre identifiant électronique.</p>

            </div>
        </div>

        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">
                <h5> 7- Géolocalisation </h5>

                <p class="font-weight-bold"> Géolocalisation à des fins de fourniture du service</p>

                <p class="text-justify">  Nous collectons et traitons vos données de géolocalisation afin de vous fournir nos services.
                Nous pouvons être amenés à faire usage des données personnelles dans le but de déterminer
                votre position géographique en temps réel. Conformément à votre droit d'opposition prévu par la
                loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, vous avez la
                possibilité, à tout moment, de désactiver les fonctions relatives à la géolocalisation.</p>

                <p class="font-weight-bold"> Géolocalisation à des fins de croisement</p>
                <p class="text-justify">Nous collectons et traitons vos données de géolocalisation afin de permettre à nos services
                d'identifier les points de croisement dans le temps et dans l'espace avec d'autres Utilisateurs du
                service afin de vous présenter le profil des Utilisateurs croisés. Conformément à votre droit
                d'opposition prévu par la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et
                aux libertés, vous avez la possibilité, à tout moment, de désactiver les fonctions relatives à la
                géolocalisation. Vous reconnaissez alors que le service ne sera plus en mesure de vous
                présenter de profil des autres Utilisateurs.</p>

                <p class="font-weight-bold"> Géolocalisation avec mise à disposition des partenaires pour référencement et agrégation
                (avec opt-in)</p>
                <p class="text-justify"> Nous pouvons collecter et traiter vos données de géolocalisation avec nos partenaires. Nous
                nous engageons à anonymiser les données utilisées. Conformément à votre droit d'opposition
                prévu par la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés,
                vous avez la possibilité, à tout moment, de désactiver les fonctions relatives à la
                géolocalisation.</p>

            </div>
        </div>

         <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">

                <h5> 8- Collecte des données du terminal </h5>
                <p class="font-weight-bold"> Collecte des données de profilage et des données techniques à des fins de fourniture
                du service</p>
                <p class="text-justify"> Certaines des données techniques de votre appareil sont collectées automatiquement par le
                Site. Ces informations incluent notamment votre adresse IP, fournisseur d'accès à Internet,
                configuration matérielle, configuration logicielle, type et langue du navigateur... La collecte
                de ces données est nécessaire à la fourniture des services.</p>

                <p class="font-weight-bold">Collecte des données techniques à des fins publicitaires, commerciales et
                statistiques</p>
                <p class="text-justify">Les données techniques de votre appareil sont automatiquement collectées et enregistrées
                par le Site, à des fins publicitaires, commerciales et statistiques. Ces informations nous
                aident à personnaliser et à améliorer continuellement votre expérience sur notre Site. Nous
                ne collectons ni ne conservons aucune donnée nominative (nom, prénom, adresse...)
                éventuellement attachée à une donnée technique. Les données collectées sont susceptibles
                d’être revendues à des tiers.</p>

            </div>
        </div>

        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">

                <h5> 9- Cookies </h5>
                <p class="font-weight-bold">Durée de conservation des cookies</p>
                <p class="text-justify">Conformément aux recommandations de la CNIL, la durée maximale de conservation des
                cookies est de 13 mois au maximum après leur premier dépôt dans le terminal de l'Utilisateur,
                tout comme la durée de la validité du consentement de l’Utilisateur à l’utilisation de ces cookies.
                La durée de vie des cookies n’est pas prolongée à chaque visite. Le consentement de
                l’Utilisateur devra donc être renouvelé à l'issue de ce délai.</p>

                <p class="font-weight-bold">Finalité cookies</p>
                <p class="text-justify">Les cookies peuvent être utilisés pour des fins statistiques notamment pour optimiser les
                services rendus à l'Utilisateur, à partir du traitement des informations concernant la fréquence
                d'accès, la personnalisation des pages ainsi que les opérations réalisées et les informations
                consultées.<br/>
                Vous êtes informé que l'Éditeur est susceptible de déposer des cookies sur votre terminal. Le
                cookie enregistre des informations relatives à la navigation sur le service (les pages que vous
                avez consultées, la date et l'heure de la consultation...) que nous pourrons lire lors de vos visites
                ultérieures.</p>

                <p class="font-weight-bold">Droit de l'Utilisateur de refuser les cookies</p>
                <p class="text-justify">Vous reconnaissez avoir été informé que l'Éditeur peut avoir recours à des cookies. Si vous ne
                souhaitez pas que des cookies soient utilisés sur votre terminal, la plupart des navigateurs vous
                permettent de désactiver les cookies en passant par les options de réglage.</p>

            </div>
        </div>

        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">

                <h5>10- Conservation des données techniques</h5>
                <p class="font-weight-bold">Durée de conservation des données techniques</p>
                <p class="text-justify">Les données techniques sont conservées pour la durée strictement nécessaire à la réalisation
                des finalités visées ci-avant.</p>

            </div>
        </div>

        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">

                <h5>11- Délai de conservation des données personnelles et d'anonymisation</h5>

                <p class="font-weight-bold">Conservation des données pendant la durée de la relation contractuelle</p>
                <p class="text-justify">Conformément à l'article 6-5° de la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux
                fichiers et aux libertés, les données à caractère personnel faisant l'objet d'un traitement ne sont
                pas conservées au-delà du temps nécessaire à l'exécution des obligations définies lors de la
                conclusion du contrat ou de la durée prédéfinie de la relation contractuelle.</p>

                <p class="font-weight-bold">Conservation des données anonymisées au delà de la relation contractuelle / après la
                suppression du compte</p>
                <p class="text-justify">Nous conservons les données personnelles pour la durée strictement nécessaire à la réalisation
                des finalités décrites dans les présentes Politiques de confidentialité. Au-delà de cette durée,
                elles seront anonymisées et conservées à des fins exclusivement statistiques et ne donneront
                lieu à aucune exploitation, de quelque nature que ce soit.</p>

                <p class="font-weight-bold">Suppression des données après suppression du compte</p>
                <p class="text-justify">Des moyens de purge de données sont mis en place afin d'en prévoir la suppression effective
                dès lors que la durée de conservation ou d'archivage nécessaire à l'accomplissement des
                finalités déterminées ou imposées est atteinte. Conformément à la loi n°78-17 du 6 janvier 1978
                relative à l'informatique, aux fichiers et aux libertés, vous disposez par ailleurs d'un droit de
                suppression sur vos données que vous pouvez exercer à tout moment en prenant contact avec
                l'Éditeur.</p>

                <p class="font-weight-bold">Suppression des données après 3 ans d'inactivité</p>
                <p class="text-justify">Pour des raisons de sécurité, si vous ne vous êtes pas authentifié sur le Site pendant une
                période de trois ans, vous recevrez un e-mail vous invitant à vous connecter dans les plus brefs
                délais, sans quoi vos données seront supprimées de nos bases de données.</p>

            </div>
        </div>

        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">

                <h5>12- Suppression du compte</h5>
                <p class="font-weight-bold">Suppression du compte à la demande</p>
                <p class="text-justify">L'Utilisateur a la possibilité de supprimer son Compte à tout moment, par simple demande à
                l'Éditeur OU par le menu de suppression de Compte présent dans les paramètres du Compte le
                cas échéant.</p>

                <p class="font-weight-bold">Suppression du compte en cas de violation de la Politique de Confidentialité</p>
                <p class="text-justify">En cas de violation d'une ou de plusieurs dispositions de la Politique de Confidentialité ou de tout
                autre document incorporé aux présentes par référence, l'Éditeur se réserve le droit de mettre fin
                ou restreindre sans aucun avertissement préalable et à sa seule discrétion, votre usage et accès
                aux services, à votre compte et à tous les Sites.</p>

            </div>
        </div>

        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">

                <h5>13- Indications en cas de faille de sécurité déceléepar l'Éditeur</h5>
                <p class="font-weight-bold">Information de l'Utilisateur en cas de faille de sécurité</p>
                <p class="text-justify">Nous nous engageons à mettre en oeuvre toutes les mesures techniques et organisationnelles
                appropriées afin de garantir un niveau de sécurité adapté au regard des risques d'accès
                accidentels, non autorisés ou illégaux, de divulgation, d'altération, de perte ou encore de
                destruction des données personnelles vous concernant. Dans l'éventualité où nous prendrions
                connaissance d'un accès illégal aux données personnelles vous concernant stockées sur nos
                serveurs ou ceux de nos prestataires, ou d'un accès non autorisé ayant pour conséquence la
                réalisation des risques identifiés ci-dessus, nous nous engageons à :<br/>
                Vous notifier l'incident dans les plus brefs délais ;<br/>
                Examiner les causes de l'incident et vous en informer ;<br/>
                Prendre les mesures nécessaires dans la limite du raisonnable afin d'amoindrir les effets négatifs
                et préjudices pouvant résulter dudit incident.</p>

                <p class="font-weight-bold">Limitation de la responsabilité</p>
                <p class="text-justify">En aucun cas les engagements définis au point ci-dessus relatifs à la notification en cas de faille
                de sécurité ne peuvent être assimilés à une quelconque reconnaissance de faute ou de
                responsabilité quant à la survenance de l'incident en question.</p>


            </div>
        </div>

        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">
                <h5> 14- Transfert des données personnelles à l'étranger</h5>
                <p class="font-weight-bold">Pas de transfert en dehors de l'Union européenne</p>
                <p class="text-justify">L'Éditeur s'engage à ne pas transférer les données personnelles de ses Utilisateurs en dehors
                de l'Union européenne.</p>
                <p class="text-justify">https://www.cnil.fr/fr/la-protection-des-donnees-dans-le-mondehttps://www.cnil.fr/fr/la-protectiondes-donnees-dans-le-monde</p>
            </div>
        </div>

        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">
                <h5>15- Modification de la politique de confidentialité</h5>
                <p class="text-justify">En cas de modification de la présente Politique de Confidentialité, engagement de ne pas
                baisser le niveau de confidentialité de manière substantielle sans l'information préalable
                des personnes concernées</p>
                <p class="text-justify">Nous nous engageons à vous informer en cas de modification substantielle de la présente
                Politique de Confidentialité, et à ne pas baisser le niveau de confidentialité de vos données de
                manière substantielle sans vous en informer et obtenir votre consentement.</p>
            </div>
        </div>

        <div class="card border-0 mb-3 form-shadow">
            <div class="card-body">
                <h5>16- Droit applicable et modalités de recours</h5>
                <p class="font-weight-bold">Clause d'arbitrage</p>
                <p class="text-justify">Vous acceptez expressément que tout litige susceptible de naître du fait de la présente Politique
                de Confidentialité, notamment de son interprétation ou de son exécution, relèvera d'une
                procédure d'arbitrage soumise au règlement de la plateforme d'arbitrage choisie d'un commun
                accord, auquel vous adhérerez sans réserve.</p>
            </div>
        </div>

    </div>
</div>





{% endblock %}
