{% extends 'base.html.twig' %}

{% block title %}Mention légal{% endblock %}

{% block stylesheets %}
<meta name="description" content="{#text#}">
{{ parent() }}
{% endblock %}

{% block body %}
<div>Mention légal</div>

Merci de lire avec attention les différentes modalités d’utilisation du présent site avant d’y parcourir ses pages. En vous connectant sur ce site, vous acceptez, sans réserves, les présentes modalités.

Aussi, conformément à l’article n°6 de la Loi n°2004-575 du 21 Juin 2004 pour la confiance dans l’économie numérique, les responsables du présent site internet www.anthedesign.fr sont :

Éditeur du Site :

Numéro de SIRET :

Responsable éditorial : 

Téléphone :

Email :

Hébergement :

Hébergeur : 

Développement :

Adresse : 

Site Web :

Conditions d’utilisation :

Cookies :

Liens hypertextes : 

Services fournis :

Limitation contractuelles sur les données :

Propriété intellectuelle :

Déclaration à la CNIL :

Litiges :


{% endblock %}
