{% extends 'base.html.twig' %}

{% block meta_description %} {% endblock %}
{% block title %}Modification d'un job. {% endblock %}

{% form_theme modify_job_form 'bootstrap_5_layout.html.twig' %}


{% block body %}   

   <div class="row justify-content-center ">
        
        <div class="col-8 border mt-4 ">
            <h1 class="text-center">Modifier le job</h1>
            {# {% for notice in app.flashes('confirmation') %}
                <div class="alert alert-success">
                    {{ notice }}
                </div>
            {% endfor %} #}
                
            {{ form(modify_job_form, {attr: {'novalidate': 'novalidate'}}) }}
            
        </div>
    </div>

{% endblock %}
