{% extends 'base.html.twig' %}

{% block title %}Hello CookieController!{% endblock %}

{% block body %}
        {% block cooky %}
        <button onclick="console.log('ok');">Click me</button>
        <button  id="fromButton" class="boutonCommander">clixker ici</button>
        <div id="fromCommande" class="test">
            <div>Vos préférences en matière de cookies</div>

            <a id="refuse">Continuer sans accepter</a>
            <button id="inform">En savoir plus</button>
            <button id="accept">Accepter et fermer</button>
        
        
        </div>

        {% endblock %}
{% endblock %}
