{% extends 'base.html.twig' %}
{% block title %}Hello ProfessionalProcessController!{% endblock %}
{% block body %}

    <div class="col-md-12 mx-auto row py-5" style="background:linear-gradient(0deg,#31092a,#0e0331)">

        <div class="col-md-12">
            <h1 class="text-center text-white"> DÉVELOPPEZ VOS FORMATS E-LEARNING ET BLENDED </h1>
            <h2 class="text-center text-primary fw400"> Renforcez l'intervention des formateurs avec nos vidéos  </h2>
        </div>

        <div class="col-md-12">
            <p class="text-center text-white"> EN MARQUE BLANCHE <span class="text-primary">//</span> SUR MESURE <span class="text-primary">//</span> SOUS LICENSE <span class="text-primary">//</span> SOUS ABONNEMENT</p>
        </div>

        <div class="col-md-12 d-flex justify-content-center">
            <a class="text-light smallBorderRadius colorWhite btn btn-secondary pull-right border-radius-btn mt-5 fw600 d-flex align-items-center" href="">
            <i class="fa-solid fa-address-card me-2"></i>
            COMMANDER UN FORMATEUR</a>
        </div>

    </div>

    <section class="bg-secondary-dark py-5">

        <div class="text-with-gradient text-center pB-5 relative">
            &lt; FONCTIONNEMENT /&gt; 
        </div>

        <h2 class="text-center text-light mt-5"> POUR LES ECOLES OU ORGANISMES DE FORMATION </h2>

        <div class="row mx-auto col-md-10 p-3 mt-5">

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-1 icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info text-justify text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center h-100">
                    
                    <div class="card-body p-0 d-flex align-items-center">
                        <i class="text-light fa-solid fa-arrow-right icon-xl"></i>
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-2 icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>
            
            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center h-100">
                    
                    <div class="card-body p-0 d-flex align-items-center">
                        <i class="rotate-90 text-light fa-solid fa-arrow-right icon-xl"></i>
                    </div>
                </div>
            
            </div>

            {#  #}

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center h-100">
                    
                    <div class="card-body p-0 d-flex align-items-center">
                        <i class="rotate-270 text-light fa-solid fa-arrow-right icon-xl"></i>
                    </div>
                </div>
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-4 icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center h-100">
                    
                    <div class="card-body p-0 d-flex align-items-center">
                    
                        <i class="rotate-180 text-light fa-solid fa-arrow-right icon-xl"></i>
                    </div>
                </div>
            
            </div>
            
            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-3 icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

        </div>


    </section>

    <section class="section bg-secondary text-center py-5 form-shadow">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-6 col-lg-3">
                    <div class="row ">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-chalkboard-user icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">+2000</h2>
                            <p class="text-light mb-1">Tutoriels</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-flask icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">+200</h2>
                            <p class="text-light mb-1">Motion Design</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-display icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">+100</h2>
                            <p class="text-light mb-1">Fond vert</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="row">
                        <div class="col-5 text-right text-light border-right py-3">
                            <div class="m-auto"><i class="fa-solid fa-industry icon-xl"></i></div>
                        </div>
                        <div class="col-7 text-left py-3">
                            <h2 class="text-danger font-weight-bold font40">+200</h2>
                            <p class="text-light mb-1">Projet fil rouge</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-secondary-dark justify-content-center align-items-center flex-column relative pb-5">


        <div class="text-with-gradient text-center py-5 relative">
            &lt; COLLABORONS ENSEMBLE /&gt; 
        </div>
        
        <h2 class="text-center text-light"> LES AVANTAGES POUR L'ORGANISME DE FORMATION </h2>


        <div class="row mx-auto col-md-10 p-3">

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>
            
            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>


            {#  #}

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>
            
            <div class="col-md-3 p-3">
                {# <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                    </a> #}
                <div class="bg-none card p-4 form-shadow align-items-center">
                    <a aria-label="Développement Front End - Académie WS" class="pb-3" href="/categories/1">
                        <i class="text-light fa-solid fa-user-plus icon-xl"></i>
                    </a>
                    
                    <div class="card-body p-0">
                    
                        <a aria-label="Développement Front End - Académie WS" href="">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text text-info text-justify">Découvrez les technologies front-end les plus demandées du marché et créez vos premières pages web!</p>
                        </a>
                        {# <a aria-label="Développement Front End - Académie WS" style="color:white !important" href="/categories/1" class="btn btn-primary">Accéder aux cours</a> #}
                    </div>
                </div>
            
            </div>

        </div>

    </section>

        <section class="bg-secondary row mx-auto flex-column justify-content-center align-items-center py-5">

        <div class="text-with-gradient text-center pB-5 relative">
            &lt; LEURS AVIS /&gt; 
        </div>
        
        <h2 class="text-center text-light"> Ce que vos étudiants pensent de notre travail </h2>

        <div>
            <p class="text-light text-center my-3">
                EXCELLENT
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>
                <i class="text-primary fa-solid fa-star"></i>

                4.9 sur 5 basé sur <a class="text-info" href=""> +75 avis</a>

            <p>
        </div>

        <div class="row mx-auto col-md-10 p-3">

            <div class="col-md-3 p-3">
                    {# <a aria-label="Développement Front End - Académie WS" href="/categories/1">
                        </a> #}
                    <div class="course-card card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text mb-3 text-info">Vraiment un très bon concept et bien élaboré</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" src="{{ asset('build/samih.png')}}" />
                                <p class="text-light ms-3 my-0 fst-italic"> Samih Habbani </p>
                            </div>
                        </div>

                    </div>
                
                </div>

                <div class="col-md-3 p-3">
                    {# <a aria-label="Développement Front End - Académie WS" href="/categories/1">
                        </a> #}
                    <div class="course-card card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text mb-3 text-info">Vraiment un très bon concept et bien élaboré</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" src="{{ asset('build/samih.png')}}" />
                                <p class="text-light ms-3 my-0 fst-italic"> Samih Habbani </p>
                            </div>
                        </div>

                    </div>
                
                </div>

                <div class="col-md-3 p-3">
                    {# <a aria-label="Développement Front End - Académie WS" href="/categories/1">
                        </a> #}
                    <div class="course-card card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text mb-3 text-info">Vraiment un très bon concept et bien élaboré</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" src="{{ asset('build/samih.png')}}" />
                                <p class="text-light ms-3 my-0 fst-italic"> Samih Habbani </p>
                            </div>
                        </div>

                    </div>
                
                </div>

                <div class="col-md-3 p-3">
                    {# <a aria-label="Développement Front End - Académie WS" href="/categories/1">
                        </a> #}
                    <div class="course-card card form-shadow bg-secondary-dark p-3 smallBorderRadius">

                        <div class="d-flex justify-content-between">
                            <p>
                                <span>  
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                    <i style="font-size:0.5rem" class="text-primary fa-solid fa-star"></i>
                                </span>
                            </p>

                            <i class="text-primary fa-brands fa-google"></i>

                        </div>

                        
                        <div class="card-body p-0">
                            <h5 class="card-title fw-bold text-light">Développement Front End</h5>
                            <p class="card-text mb-3 text-info">Vraiment un très bon concept et bien élaboré</p>
                            <div class="d-flex align-items-center"> 
                                <img style="width:2.5rem; height:2.5rem" src="{{ asset('build/samih.png')}}" />
                                <p class="text-light ms-3 my-0 fst-italic"> Samih Habbani </p>
                            </div>
                        </div>

                    </div>
                
                </div>

        </div>

    </section>


{% endblock %}
